<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hilmi.catalogcupang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/favicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Index">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LihatMenu" />

        <activity
            android:name=".DetailItem"
            android:label="@string/home2"
            android:parentActivityName=".Index" >
                <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Index" />
         </activity>

       <activity android:name=".tentang.Tentang" android:parentActivityName=".Index" android:label="@string/tentang" >
           <!--tombol back tambahkan android:parentActivityName"".Index"" dan meta data di bawah ini-->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Index"  />
        </activity>






    </application>
</manifest>